#Question 8
Write SQL queries on the below database table that return:

In [27]:
#Importing sqlite3 
import sqlite3
con = sqlite3.connect('my_tables.db')
cur = con.cursor()
#Creating a table and inserting data into it
cur.execute("CREATE TABLE table7 (City text, Country text, Season text, Temperature int, Rainfall int)")
cur.execute("INSERT INTO table7 VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO table7 VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO table7 VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO table7 VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO table7 VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO table7 VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO table7 VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO table7 VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO table7 VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO table7 VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO table7 VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO table7 VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

In [129]:
#a) All the temperature data.
cur.execute('SELECT Temperature FROM  table7')
    
print(f'Temperatures are: \n{cur.fetchall()}')

Temperatures are:
[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [38]:
#Alternative solution for question 8 part a
cur.execute('SELECT * FROM  table7')
empty_list = []

for record in cur:
    empty_list.append(record[4])
print(f"Temperatures are:\n  {empty_list}")

Temperatures are:
  [5.9, 16.2, 1549.4, 346, 207.7, 169.6, 157, 218.5, 16.5, 6.5, 0.1, 4.5]

In [40]:
#b) All the cities, but without repetition.
cur.execute('SELECT * FROM  table7')
empty_list1 = []
for record in cur:
    
    empty_list1.append(record[0])
print(f'Cities are:\n {set(empty_list1)}')

Cities are:
 {'London', 'Cairo', 'Mumbai'}

In [57]:
#c) All the records for India.
Country = 'India'
cur.execute("SELECT * FROM table7 WHERE Country = ? ", (Country,))
print(f'Records for india \n {cur.fetchall()}')

Records for india
 [('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346)]

In [59]:
#d) All the Fall records.
Season = 'Fall'
cur.execute("SELECT * FROM table7 WHERE Season = ? ", (Season,))
print(f'Records for fall \n {cur.fetchall()}')

Records for fall
 [('Mumbai', 'India', 'Fall', 27.6, 346), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [80]:
#Alternative Solution for question 8 part e
cur.execute('SELECT * FROM  table7')
my_list = []
for record in cur:
    if record[4] > 200 and record[4] < 400:
        my_list.append(record[0])
        my_list.append(record[1])
        my_list.append(record[2])
        my_list.append(record[4])
print(my_list[:4])
print(my_list[4:8])
print(my_list[8:12])

['Mumbai', 'India', 'Fall', 346]
['London', 'United Kingdom', 'Winter', 207.7]
['London', 'United Kingdom', 'Fall', 218.5]

In [103]:
#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cur.execute("SELECT City,Country,Season,Rainfall FROM table7 WHERE Rainfall > 200 and Rainfall < 400")
print(f'List of cities where rainfall is between 200 and 400: \n{cur.fetchall()}')

List of cities where rainfall is between 200 and 400:
[('Mumbai', 'India', 'Fall', 346), ('London', 'United Kingdom', 'Winter', 207.7), ('London', 'United Kingdom', 'Fall', 218.5)]

In [109]:
#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cur.execute("SELECT City,Country,Temperature FROM table7 WHERE Temperature > 20 and Season = 'Fall' ORDER BY Temperature  ASC  ")
print(f'Cities where temperature above 20 in incresing order:\n {cur.fetchall()}')

Cities where temperature above 20 in incresing order:
 [('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

In [115]:
#g) The total annual rainfall for Cairo.
cur.execute("SELECT AVG(Rainfall) FROM table7 WHERE City ='Cairo' ")
print(f'Total annual rainfall for Cairo:\n {cur.fetchall()}')

Total annual rainfall for Cairo:
 [(6.9,)]

In [125]:
#h) The total rainfall for each season.
cur.execute("SELECT Season, AVG(Rainfall) FROM table7 GROUP BY Season")
print(f'Total annual rainfall for all seasons:\n {cur.fetchall()}')

Total annual rainfall for Winter:
 [('Fall', 189.66666666666666), ('Spring', 64.1), ('Summer', 568.8333333333334), ('Winter', 76.7)]